body {
    user-select: none;
}

#creation-elements {
    outline: none;
    display: flex;
}

.creation-element {
    height: 30px;
    width: 30px;
    background-color: #2980c1;
    margin: 0 1em;
    transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    box-sizing: border-box;
    touch-action: none;
    position: relative;
}

#canvas .creation-element.selected {
    border: 3px solid #0009;
    box-shadow: 0 2px 10px 1px #0009;
}

.creation-element:hover {
    cursor: move;
    box-shadow: 0 2px 10px 1px #0009;
}

.creation-element-circle {
    border-radius: 100%;
}

.creation-element-triangle {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

#canvas {
    width: 100%;
    height: 100%;
}

#canvas .creation-element {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 50;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item.selected .btn {
    box-shadow: var(--dm-button-box-shadow-focus);
    border-color: var(--dm-button-border-color-focus);
}

.list-item .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item-title {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2ch;
}

.list-item-drag {
    color: #777777;
    display: none;
}

.list-item .btn:hover .list-item-drag {
    display: block;
}

.list-item-drag:hover {
    cursor: move;
}

.modal {
    z-index: 99999;
}
